.video__data {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .video__title {
    font-size: 26px;
    margin-bottom: 5px;
  }
  .video__createdAt {
    font-size: 12px;
  }
  .video__owner {
    margin-bottom: 5px;
    font-size: 14px;
    a {
      color: cornflowerblue;
      text-decoration: underline;
    }
  }
}

.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  .video__comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 9999px;
    background-color: white;
    margin-bottom: 10px;
    color: black;
    :first-child {
      width: 10%;
      left: 10px;
    }
    :nth-child(2) {
      width: 80%;
      text-shadow: 2px 2px 1px white;
      overflow: hidden;
      word-break: break-all;
    }
    :last-child {
      text-align: end;
      width: 10%;
      right: 10px;
      cursor: pointer;
    }
  }
}
